
<br/>
<div class="text-center">
	<h1 style="color: white" class="display-4"><strong></>Yazılım Teknolojileri Akademisi</strong></h1>
	<h1 style="color: white"class="display-4"><strong></>Online Kütüphane</strong></h1>
</div>
<br/> 
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active" align="center">
			<img src="/img/City-Lights-bookstore-person.jpg.jpeg" class="d-block w-50"  alt="...">
		</div>
		<div class="carousel-item" align="center">
			<img src="/img/Bookstore-1-1024x703.jpg" class="d-block w-50" alt="...">
		</div>
		<div class="carousel-item" align="center" >
			<img src="/img/HD-wallpaper-bookshop-books-people-cash-register-store-artwork-dog.jpg" class="d-block w-50" alt="...">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
