@{<br/><br/>
	ViewData["Title"] = "İletişim Bilgileri";
}
<div class="text-center">
<h2 style="color: black">@ViewData["Title"]</h2>

<br/>
<br/>
<h3 style="color: black">Esentepe Mahallesi No:15 Orkide Apartmanı</h3>
<h3 style="color:black">Şişli/İSTANBUL</h3>
<br/>

	<h3 style="color: black"><a href="mailto:yta.iletisim@gmail.com">yta.iletisim@gmail.com</a></h3>
</div>
